body {
    background-image: url("bck.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

/*nav buttons*/
.nav {
    width: 25%;
    height: 20%;
    margin: 45px 25px;
}

.nav-btn {
    display: inline-block;
    width: 49%;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    outline: none;
    background-color: rgba(249, 249, 249, 0.6);
    font-size: 25px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.nav-content {
    display: none;
    position: absolute;
    margin-top: 0;
    background-color: rgba(241, 241, 241, 0.8);
    width: 630px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
    border: none;
}

.nav-content a {
    color: rgba(0, 0, 0, 0.4);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.nav-content a:hover {
    background-color: rgba(249, 249, 249, 0.6);
    cursor: pointer;
}

.first-nav-btn:hover .first-nav-content {
    display: block;
}

.first-nav-btn:hover #first-nav-btn {
    background-color: rgba(249, 249, 249, 0.7);
}

.second-nav-btn:hover .second-nav-content {
    display: block;
}

.second-nav-btn:hover .second-nav-btn {
    background-color: rgba(249, 249, 249, 0.7);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 200px;
    /* bottom = footer height */
    padding: 25px;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 300px;
    height: 60px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(249, 249, 249, 0.6);
}

#main-content {
    height: 800px;
    overflow: auto;
}

