.form-wrapper {
    width: 33%;
    margin: 0 auto;
    border-radius: 25px;
}

.form {
    background-color: aliceblue;
    opacity: 0.7;
    width: 50%;
    margin: auto;
    padding: 75px 25px;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.form-heading {
    text-align: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 75px;
}

.input {
    display: block;
    height: 50px;
    margin: 30px auto;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 20px;
    border: none;
}

.dropdown-button {
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    outline: none;
    background-color: #f9f9f9;
    font-size: 25px;
    border: none;
    text-align: center;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

#form-submit-button {
    background-color: rgba(127, 255, 212, 0.7);
    color: rgba(0, 0, 0, 0.4);
    margin-top: 95px;
    cursor: pointer;
    width: 100%;
}

#form-input{
    width: 80%;
    padding: 0 10%;
    font-size: 20px;
    color: rgba(0 0 0 0.7);
    text-align: center;
}