table, th, td {
    border-collapse: collapse;
    border-radius: 25px;
}

th, td {
    margin: 2px;
    padding: 15px;
    text-align: center;
    max-width: 150px;
    overflow-wrap: break-word;
}

.table-wrapper {
    width: 65%;
    border-radius: 25px;
    margin: auto auto 150px;
}

.table {
    width: 100%;
    font-size: 25px;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(240,248,255, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.table-heading {
    text-align: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 75px;
}